*{ 
margin: 0;
padding: 0;
font-family: 'Poppins', sans-serif;
}

/*MAIN PAGE*/
.header{
    min-height: 100vh; 
    width: 100%;
    background-image: url("banner.png");
    background-color: rgba(255,255,255,0.2); 
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{

    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

.nav-links{
    flex: 1; 
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;   
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;

}
  .nav-links ul li a:hover {
    color: white;
    text-decoration: underline 2px solid red;
  }
  
  .textbox{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }

  .textbox h1{
    font-size: 80px;
    font-weight: 1000;
  }

  .textbox p{
    margin: 10px 0 40px;
    font-size: 19px;
    color: white;
    font-weight: 400;
  }

  .loadbtn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 400;
    background-color: transparent;
    position: relative;
    cursor: pointer;
  }

  .loadbtn:hover{
    border: 2px solid rgb(222, 58, 58);
    background: rgb(222, 58, 58);
    transition: 1s;
  }




  /*Courses*/

  .course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

  }
  
  h1{
    font-size: 36px;
    font-weight: 600;
  }

  p{
    color: rgb(101, 101, 101);
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
  }

  .row{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
  }

  .course-column{
    flex-basis: 30%;
    background: #f2ebeb;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;

  }

  h3{
    text-align: center;
    font-weight: 600; 
  margin: 10px 0;
}
 
.course-column:hover{
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

/*--CAMPUS--*/
.campus{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.campus-column{
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.campus-column img{
  width: 100%;
  display: block;
}

.layering{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  transition: 0.5s;
}
.layering:hover{
  background: rgb(228, 62, 62,0.7 );
}
.layering h3{
  width: 100%;
  bottom: 0;
  font-size: 0px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  transform: 0.5s;
  
}

.layering:hover h3{
  bottom: 49%;
  opacity: 1;
  color: #f2ebeb;
  font-weight: 500;
  font-size: 26px;
}

/*--FACILITIES--*/

.facilities{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.facilities-column{
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.facilities-column img{
  width: 100%;
  display: block;
}

.facilities-column p{
  padding: 0;
  font-size: 15px;
  margin-right: 20px;
  margin-left: 20px;
}

.facilities-column h3{
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
  margin-right: 20px;
  margin-left: 20px;

}

/*STUDENTS*/
.students{
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}

.students-column{
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #fff3f3;
  padding: 25px;
  cursor: pointer;
  display: flex;
}

.students-column img{
  height: 40px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}

.students-column p {
  padding: 0;
   
}

.students-column h3{
  margin-top: 15px;
  text-align: left;
}

.students-column .fa{
  color: #f44336;
}

/*-CALL TO ACTION-*/
.calltoaction{
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(banner2.jpg);
  background-position:center ;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;

}

.calltoaction h1{
  color: white;
  margin-bottom: 40px;
  padding: 0em;
}

/*-ABOUT US-*/

.aboutus{
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.aboutus h4{
  margin-bottom: 25px;
 margin-top: 20px;
 font-weight: 600;
}

.aboutus p{
  font-size: 18px;
}